PLEX_BASEURL=http://192.168.1.10:32400
PLEX_TOKEN=
JELLYFIN_BASEURL=http://192.168.1.10:8096
JELLYFIN_TOKEN=
USER_MAPPING=plexname=jellyfinname
SLEEP_DURATION=300
DRY_RUN=false
SYNC_FROM_PLEX_TO_JELLYFIN=true
SYNC_FROM_JELLYFIN_TO_PLEX=true
SYNC_WATCHED=true
SYNC_PROGRESS=true
SYNC_NEW_ITEMS=true
WATCHED_PERCENT=90
LOG_LEVEL=INFO
DATA_DIR=./data
